/* Das ist die Main.html Seite */
h1 {font-family: Rockwell}
h2 { font-variant: small-caps; font-weight: bold; font-family: 'Rockwell'; letter-spacing: 2px; color:rgb(32, 136, 227)}
h4 { font-variant: small-caps; font-weight: bold; font-family: 'Rockwell'; letter-spacing: 2px; color:rgb(255, 255, 255)}
h5 { font-variant: small-caps; font-weight: bold; font-family: 'Rockwell'; letter-spacing: 2px; color:rgb(255, 46, 46)}
p { font-family: 'Rockwell'; font-size: 1.5em; color:rgb(219, 37, 37)}
body {
background-image: url("rose-petals.png");
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
}

/* Antimation */
.container {
 display: flex;
}
.card {
  border-radius: 40px;
  margin-left: 50px;
  margin-right: 50px;
  height: 300px;
  flex: 1;
  background-color: rgb(60, 61, 61);
  transition: .3s all ease;
  padding: 20px;
}

.card:hover {
  flex: 1;
  background-color: rgb(127, 9, 223);
}

/* LoginHover */
.LoginHover {
display: flex;
}

.LoginHover:hover {
  flex: 1;
  transition: 500ms;
  transform: scale(1.2);; 
}


#hintergrundbild { height: auto; width: auto; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
*{
  margin: 0;
  padding: 0;
}
.menu{
  padding: 50px 0px 50px 900px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.menu li{
  display: inline-block;
  margin: 0 15px;
}
.menu li2{
  display: inline-block;
  margin: 0 15px;
  padding: 0 15px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  background-color: rgb(60, 61, 61);
}

.menu a, a1{
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  padding: 4px 0;
}
.menu a::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0,1,1);
  transform-origin: 0 50%;
}
.menu a:hover::before{
  transform: scale3d(1,1,1);
}



/* Das ist die Test.html Seite */
/* body {background-image: url("Hintergrund.jpeg"); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;}

